.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    padding: 2px;
}

.form {
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.form > input {
    width: 66%;
}

.form > button {
    width: 33%;
}

.header {
    font-weight: bold
}

.grid-container div {
    margin: 1ex;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgb(51, 173, 226);
    color: white;
    border: none;
    border-radius: 4px;
}

button:disabled {
    background-color: gray;
}


#reply-negatively-button {
    background-color: #d83b01;
}

#reply-negatively-button:hover {
    background-color: #c33400;
}
#reply-politely-button{
    background-color: #01d828;
}

#reply-politely-button:hover {
    background-color: #01d828;
}